.header{
    width: 100%;
 
    background: linear-gradient(rgba(2,10,32,0.9),rgba(2,10,32,0.9)), url(img/hero.jpg);
    background-size: cover;
    

    
}
.header-content ul li{
    padding-left: 2rem;
}
.navbar-nav li a{
    color: white;
}
.search{
    color:  #990033;
}
form input{
    border: none;
    border-bottom: 2px solid gray;
    padding: 1rem;
    outline: none;
    width: 100%;
}
select{
    width: 100%;
    padding:10px;
    margin-top: 1rem;
}
.button{
    display: flex;
    justify-content: center;
  
    
}
.button button{
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background-color: none;
    transition: all 1s;
    margin: 10px;
    padding: 10px;
}
.button button:hover{
    background-color: #990033;
    color: white;
}
img{
    max-width: 100%;
}
footer{
    background: #020a20;
    
}
.pp{
    font-size: 13px;
}
.pp1{
    font-size: 15px;
}
.form-control{
    background-color: #020a20;
    color: white;
}
.aa{
    padding-left: 50px;
}
